#cronograma .card {
    width: 100%;
    padding: 0;
    position: relative;
}

.box {
    text-decoration: none;
    color: var(--color-black);
}

.img-evento {
    min-height: 150px;
    border-radius: 16px 16px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}

.img-evento a {
    width: 100%;
}

.info-evento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-bottom: 52px;
}

.info-evento h5 {
    font-weight: bolder;
}

.data-evento {
    text-align: end;
}

.local-evento {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    width: 100%;
    font-weight: 600;
}

.local-evento div {
    padding: 4px;
}

.local-evento svg {
    margin-inline: 4px;
}

.palestrante-evento {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: end;
    justify-content: center;
    padding-inline: 20px;
    height: 30px;
}

.palestrante-evento h6 {
    margin: 0;
    width: max-content;
    background-color: var(--color-blue);
    padding-inline: 10px;
    color: var(--color-white);
}

.palestrante-evento:hover, .palestrante-evento:hover h6 {
    cursor: pointer;
    color: var(--color-black);
}

.palestrante-evento img {
    border-radius: 60px;
    overflow: overlay;
    z-index: 10;
    width: 100px;
    background-color: var(--color-white)
}

.box a {
    text-decoration: none;
}

.link-evento {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.link-evento button {
    width: 100%;
    border-radius: 16px;
    margin: 0;
}