#sobre > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}

#sobre > div > div {
    margin: 20px;
}

@media (max-width: 991px) {
    #sobre > div {
        display: block;
        text-align: center;
    }
}